@namespace h "http://www.w3.org/1999/xhtml";
.calibre {
    display: block;
    font-size: 1.125em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    page-break-before: always;
    text-align: left
    }
.calibre1 {
    display: block;
    text-align: center
    }
.calibre2 {
    font-weight: bolder
    }
.calibre3 {
    display: block
    }
.calibre4 {
    color: blue;
    cursor: pointer;
    text-decoration: underline
    }
.calibre5 {
    height: auto;
    width: auto
    }
.calibre6 {
    font-size: 0.66667em;
    line-height: normal;
    vertical-align: super
    }
.calibrerescale {
    display: block;
    font-size: 0.88889em
    }
.calibrerescale1 {
    display: block;
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em
    }
.calibrerescale2 {
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.calibrerescale3 {
    display: block;
    font-size: 1em
    }
.calibrerescale4 {
    display: block;
    font-size: 1em;
    margin-top: 2em
    }
.description {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.none {
    font-size: 0.88889em;
    font-style: normal;
    font-variant: small-caps;
    font-weight: bold;
    text-decoration: none
    }
.none1 {
    font-size: 0.88889em;
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold;
    text-decoration: none
    }
.none10 {
    font-size: 0.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none
    }
.none11 {
    font-size: 0.88889em;
    font-style: normal;
    font-variant: small-caps;
    font-weight: normal;
    text-decoration: none
    }
.none12 {
    font-size: 0.66667em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.none13 {
    font-size: 0.88889em;
    font-style: italic;
    font-variant: small-caps;
    font-weight: normal;
    text-decoration: none
    }
.none14 {
    font-size: 1.33333em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.none15 {
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none
    }
.none2 {
    font-size: 0.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.none3 {
    font-size: 0.88889em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.none4 {
    font-size: 1.62963em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.none5 {
    font-size: 1.77778em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.none6 {
    font-size: 1.48148em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.none7 {
    font-size: 0.66667em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none
    }
.none8 {
    font-size: 0.66667em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.none9 {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.s {
    display: block;
    line-height: pt;
    padding-left: 49.3pt;
    padding-right: 0;
    padding-top: 2.5pt;
    text-align: left
    }
.s1 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10.45pt;
    text-align: left
    }
.s10 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10.1pt;
    text-align: left
    }
.s100 {
    display: block;
    line-height: pt;
    padding-left: 12.6pt;
    padding-right: 0;
    padding-top: 0.35pt;
    text-align: left
    }
.s101 {
    display: block;
    line-height: pt;
    padding-left: 68.05pt;
    padding-right: 66.4pt;
    padding-top: 25.55pt;
    text-align: left
    }
.s102 {
    display: block;
    line-height: pt;
    padding-left: 10.25pt;
    padding-right: 83.5pt;
    text-align: left
    }
.s103 {
    display: block;
    line-height: pt;
    padding-left: 11.15pt;
    padding-right: 41.75pt;
    text-align: left
    }
.s104 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10.6pt;
    text-align: left
    }
.s105 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.55pt;
    text-align: left;
    text-indent: 9.7pt
    }
.s106 {
    display: block;
    line-height: pt;
    padding-left: 9.9pt;
    padding-right: 0;
    padding-top: 10.6pt;
    text-align: left;
    text-indent: 9.9pt
    }
.s107 {
    display: block;
    line-height: pt;
    padding-left: 13.85pt;
    padding-right: 0;
    padding-top: 0.55pt;
    text-align: left
    }
.s108 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 9pt;
    text-align: left
    }
.s109 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: left
    }
.s11 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 11.35pt;
    text-align: left
    }
.s110 {
    display: block;
    line-height: pt;
    padding-left: 11.35pt;
    padding-right: 80.65pt;
    text-align: left
    }
.s111 {
    display: block;
    line-height: pt;
    padding-left: 10.1pt;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left
    }
.s112 {
    display: block;
    line-height: pt;
    padding-left: 68.95pt;
    padding-right: 0;
    text-align: left
    }
.s113 {
    display: block;
    line-height: pt;
    padding-left: 9.2pt;
    padding-right: 0;
    padding-top: 9.7pt;
    text-align: left;
    text-indent: 9.2pt
    }
.s114 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left;
    text-indent: 9.7pt
    }
.s115 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 10.6pt
    }
.s116 {
    display: block;
    line-height: pt;
    padding-left: 10.45pt;
    padding-right: 83.5pt;
    text-align: left
    }
.s117 {
    display: block;
    line-height: pt;
    padding-left: 70.75pt;
    padding-right: 0;
    text-align: left
    }
.s118 {
    display: block;
    line-height: pt;
    padding-left: 10.45pt;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left
    }
.s119 {
    display: block;
    line-height: pt;
    padding-left: 10.8pt;
    padding-right: 0;
    padding-top: 0.35pt;
    text-align: left
    }
.s12 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.25pt;
    text-align: left
    }
.s120 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 7.9pt;
    text-align: left;
    text-indent: 9.7pt
    }
.s121 {
    display: block;
    line-height: pt;
    padding-left: 69.3pt;
    padding-right: 0;
    text-align: left
    }
.s122 {
    display: block;
    line-height: pt;
    padding-left: 11.9pt;
    padding-right: 0;
    padding-top: 0.35pt;
    text-align: left
    }
.s123 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.9pt;
    text-align: left;
    text-indent: 10.25pt
    }
.s124 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.9pt;
    text-align: left;
    text-indent: 11.15pt
    }
.s125 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left;
    text-indent: 9.55pt
    }
.s126 {
    display: block;
    line-height: pt;
    padding-left: 12.95pt;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left
    }
.s127 {
    display: block;
    line-height: pt;
    padding-left: 10.25pt;
    padding-right: 0;
    padding-top: 0.35pt;
    text-align: left
    }
.s128 {
    display: block;
    line-height: pt;
    padding-left: 13.5pt;
    padding-right: 0;
    text-align: left
    }
.s129 {
    display: block;
    line-height: pt;
    padding-left: 12.05pt;
    padding-right: 0;
    padding-top: 0.35pt;
    text-align: left
    }
.s13 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 11.5pt;
    text-align: left
    }
.s130 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.55pt;
    text-align: left;
    text-indent: 10.6pt
    }
.s131 {
    display: block;
    line-height: pt;
    padding-left: 13.5pt;
    padding-right: 0;
    padding-top: 0.35pt;
    text-align: left
    }
.s132 {
    display: block;
    line-height: pt;
    padding-left: 12.4pt;
    padding-right: 0;
    padding-top: 0.9pt;
    text-align: left
    }
.s133 {
    display: block;
    line-height: pt;
    padding-left: 10.1pt;
    padding-right: 0;
    padding-top: 0.55pt;
    text-align: left
    }
.s134 {
    display: block;
    line-height: pt;
    padding-left: 13.85pt;
    padding-right: 0;
    text-align: left
    }
.s135 {
    display: block;
    line-height: pt;
    padding-left: 10.1pt;
    padding-right: 0;
    padding-top: 10.6pt;
    text-align: left;
    text-indent: 10.1pt
    }
.s136 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.7pt;
    text-align: left;
    text-indent: 9.9pt
    }
.s137 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10.8pt;
    text-align: left
    }
.s138 {
    display: block;
    line-height: pt;
    padding-left: 10.25pt;
    padding-right: 0;
    padding-top: 2.5pt;
    text-align: left;
    text-indent: 10.1pt
    }
.s139 {
    display: block;
    line-height: pt;
    padding-left: 10.25pt;
    padding-right: 0;
    text-align: left;
    text-indent: 9.9pt
    }
.s14 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.05pt;
    text-align: left
    }
.s140 {
    display: block;
    line-height: pt;
    padding-left: 10.8pt;
    padding-right: 0;
    text-align: left;
    text-indent: 9.7pt
    }
.s141 {
    display: block;
    line-height: pt;
    padding-left: 10.6pt;
    padding-right: 0;
    padding-top: 9.9pt;
    text-align: left
    }
.s142 {
    display: block;
    line-height: pt;
    padding-left: 11pt;
    padding-right: 0;
    text-align: left;
    text-indent: 10.1pt
    }
.s143 {
    display: block;
    line-height: pt;
    padding-left: 11.15pt;
    padding-right: 0;
    text-align: left;
    text-indent: 10.25pt
    }
.s144 {
    display: block;
    line-height: pt;
    padding-left: 11.35pt;
    padding-right: 0;
    text-align: left;
    text-indent: 10.1pt
    }
.s145 {
    display: block;
    line-height: pt;
    padding-left: 12.4pt;
    padding-right: 0;
    text-align: left;
    text-indent: 9.55pt
    }
.s146 {
    display: block;
    line-height: pt;
    padding-left: 12.6pt;
    padding-right: 0;
    text-align: left;
    text-indent: 9.9pt
    }
.s147 {
    display: block;
    line-height: pt;
    padding-left: 12.8pt;
    padding-right: 0;
    text-align: left;
    text-indent: 9.7pt
    }
.s148 {
    display: block;
    line-height: pt;
    padding-left: 10.25pt;
    padding-right: 80.65pt;
    padding-top: 2.5pt;
    text-align: left
    }
.s149 {
    display: block;
    line-height: pt;
    padding-left: 13.7pt;
    padding-right: 0;
    text-align: left
    }
.s15 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 99.35pt;
    text-align: left
    }
.s150 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1.25pt;
    text-align: left;
    text-indent: 10.1pt
    }
.s151 {
    display: block;
    line-height: pt;
    padding-left: 11pt;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left
    }
.s152 {
    display: block;
    line-height: pt;
    padding-left: 13.3pt;
    padding-right: 0;
    text-align: left
    }
.s153 {
    display: block;
    line-height: pt;
    padding-left: 10.25pt;
    padding-right: 40.3pt;
    padding-top: 0.55pt;
    text-align: left
    }
.s154 {
    display: block;
    line-height: pt;
    padding-left: 97.2pt;
    padding-right: 0;
    padding-top: 3.05pt;
    text-align: left
    }
.s155 {
    display: block;
    line-height: pt;
    padding-left: 14.95pt;
    padding-right: 60.5pt;
    text-align: left
    }
.s156 {
    display: block;
    line-height: pt;
    padding-left: 14.6pt;
    padding-right: 0;
    text-align: left
    }
.s157 {
    display: block;
    line-height: pt;
    padding-left: 14.2pt;
    padding-right: 0;
    text-align: left
    }
.s158 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 14.05pt
    }
.s159 {
    display: block;
    line-height: pt;
    padding-left: 10.25pt;
    padding-right: 0;
    padding-top: 2.5pt;
    text-align: left
    }
.s16 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 11.9pt;
    text-align: left
    }
.s160 {
    display: block;
    line-height: pt;
    padding-left: 62.1pt;
    padding-right: 0;
    text-align: left
    }
.s161 {
    display: block;
    line-height: pt;
    padding-left: 11.9pt;
    padding-right: 0;
    padding-top: 2.5pt;
    text-align: left
    }
.s162 {
    display: block;
    line-height: pt;
    padding-left: 10.45pt;
    padding-right: 0;
    padding-top: 2.5pt;
    text-align: left
    }
.s163 {
    display: block;
    line-height: pt;
    padding-left: 10.25pt;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left
    }
.s164 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 10.8pt
    }
.s165 {
    display: block;
    line-height: pt;
    padding-left: 11.9pt;
    padding-right: 38.9pt;
    padding-top: 2.5pt;
    text-align: left
    }
.s166 {
    display: block;
    line-height: pt;
    padding-left: 70.55pt;
    padding-right: 0;
    text-align: left
    }
.s167 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left;
    text-indent: 10.6pt
    }
.s168 {
    display: block;
    line-height: pt;
    padding-left: 11pt;
    padding-right: 0;
    padding-top: 0.35pt;
    text-align: left
    }
.s169 {
    display: block;
    line-height: pt;
    padding-left: 11pt;
    padding-right: 0;
    padding-top: 0.55pt;
    text-align: left
    }
.s17 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 132.5pt;
    padding-top: 10.45pt;
    text-align: left
    }
.s170 {
    display: block;
    line-height: pt;
    padding-left: 14.6pt;
    padding-right: 0;
    padding-top: 0.55pt;
    text-align: left
    }
.s171 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.9pt;
    text-align: left;
    text-indent: 9.9pt
    }
.s172 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 11pt
    }
.s173 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1.25pt;
    text-align: left;
    text-indent: 11.5pt
    }
.s174 {
    display: block;
    line-height: pt;
    padding-left: 13.85pt;
    padding-right: 0;
    padding-top: 0.9pt;
    text-align: left
    }
.s175 {
    display: block;
    line-height: pt;
    padding-left: 14.4pt;
    padding-right: 0;
    text-align: left
    }
.s176 {
    display: block;
    line-height: pt;
    padding-left: 14.05pt;
    padding-right: 0;
    text-align: left
    }
.s177 {
    display: block;
    line-height: pt;
    padding-left: 13.85pt;
    padding-right: 0;
    padding-top: 0.35pt;
    text-align: left
    }
.s178 {
    display: block;
    line-height: pt;
    padding-left: 68.05pt;
    padding-right: 0;
    padding-top: 2.8pt;
    text-align: left
    }
.s179 {
    display: block;
    line-height: pt;
    padding-left: 13.7pt;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left
    }
.s18 {
    display: block;
    line-height: pt;
    padding-left: 75.6pt;
    padding-right: 0;
    padding-top: 3.05pt;
    text-align: left
    }
.s180 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1.45pt;
    text-align: left;
    text-indent: 9.9pt
    }
.s181 {
    display: block;
    line-height: pt;
    padding-left: 12.4pt;
    padding-right: 0;
    padding-top: 0.35pt;
    text-align: left
    }
.s182 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 7pt
    }
.s183 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 11.15pt;
    text-align: left
    }
.s184 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.35pt;
    text-align: left;
    text-indent: 10.6pt
    }
.s185 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 9.35pt
    }
.s186 {
    display: block;
    line-height: pt;
    padding-left: 16.55pt;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left
    }
.s187 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left;
    text-indent: 16.2pt
    }
.s188 {
    display: block;
    line-height: pt;
    padding-left: 16pt;
    padding-right: 0;
    text-align: left
    }
.s189 {
    display: block;
    line-height: pt;
    padding-left: 15.85pt;
    padding-right: 0;
    text-align: left
    }
.s19 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2.5pt;
    text-align: left
    }
.s190 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5pt;
    text-align: left
    }
.s191 {
    display: block;
    line-height: pt;
    padding-left: 15.1pt;
    padding-right: 0;
    text-align: left
    }
.s192 {
    display: block;
    line-height: pt;
    padding-left: 15.5pt;
    padding-right: 0;
    text-align: left
    }
.s193 {
    display: block;
    line-height: pt;
    padding-left: 15.3pt;
    padding-right: 0;
    text-align: left
    }
.s194 {
    display: block;
    line-height: pt;
    padding-left: 14.95pt;
    padding-right: 0;
    text-align: left
    }
.s195 {
    display: block;
    line-height: pt;
    padding-left: 10.6pt;
    padding-right: 0;
    padding-top: 2.5pt;
    text-align: left
    }
.s196 {
    display: block;
    line-height: pt;
    padding-left: 10.1pt;
    padding-right: 86.4pt;
    padding-top: 10.6pt;
    text-align: left;
    text-indent: 10.1pt
    }
.s197 {
    display: block;
    line-height: pt;
    padding-left: 10.8pt;
    padding-right: 0;
    padding-top: 2.5pt;
    text-align: left
    }
.s198 {
    display: block;
    line-height: pt;
    padding-left: 10.25pt;
    padding-right: 40.3pt;
    text-align: left
    }
.s199 {
    display: block;
    line-height: pt;
    padding-left: 68.2pt;
    padding-right: 0;
    padding-top: 2.35pt;
    text-align: left
    }
.s2 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10.25pt;
    text-align: left
    }
.s20 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2.95pt;
    text-align: left
    }
.s200 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2.5pt;
    text-align: left;
    text-indent: 7.75pt
    }
.s201 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2.5pt;
    text-align: left;
    text-indent: 9.7pt
    }
.s202 {
    display: block;
    line-height: pt;
    padding-left: 10.8pt;
    padding-right: 40.3pt;
    text-align: left
    }
.s203 {
    display: block;
    line-height: pt;
    padding-left: 50.6pt;
    padding-right: 0;
    text-align: left
    }
.s204 {
    display: block;
    line-height: pt;
    padding-left: 10.25pt;
    padding-right: 100.8pt;
    text-align: left
    }
.s205 {
    display: block;
    line-height: pt;
    padding-left: 10.25pt;
    padding-right: 116.65pt;
    text-align: left
    }
.s206 {
    display: block;
    line-height: pt;
    padding-left: 11.15pt;
    padding-right: 0;
    padding-top: 2.5pt;
    text-align: left
    }
.s207 {
    display: block;
    line-height: pt;
    padding-left: 44.1pt;
    padding-right: 0;
    padding-top: 3.05pt;
    text-align: left
    }
.s208 {
    display: block;
    line-height: pt;
    padding-left: 10.1pt;
    padding-right: 58.3pt;
    text-align: left
    }
.s209 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2.5pt;
    text-align: left;
    text-indent: 9.55pt
    }
.s21 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2.2pt;
    text-align: left
    }
.s210 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left;
    text-indent: 11.35pt
    }
.s211 {
    display: block;
    line-height: pt;
    padding-left: 11.7pt;
    padding-right: 0;
    padding-top: 2.5pt;
    text-align: left
    }
.s212 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 6.65pt
    }
.s213 {
    display: block;
    line-height: pt;
    padding-left: 63.7pt;
    padding-right: 0;
    text-align: left
    }
.s214 {
    display: block;
    line-height: pt;
    padding-left: 19.25pt;
    padding-right: 0;
    padding-top: 9.55pt;
    text-align: left;
    text-indent: 19.25pt
    }
.s215 {
    display: block;
    line-height: pt;
    padding-left: 10.45pt;
    padding-right: 100.8pt;
    text-align: left
    }
.s216 {
    display: block;
    line-height: pt;
    padding-left: 50.75pt;
    padding-right: 0;
    text-align: left
    }
.s217 {
    display: block;
    line-height: pt;
    padding-left: 10.45pt;
    padding-right: 41.75pt;
    text-align: left
    }
.s218 {
    display: block;
    line-height: pt;
    padding-left: 9.7pt;
    padding-right: 0;
    padding-top: 9.55pt;
    text-align: left;
    text-indent: 9.7pt
    }
.s219 {
    display: block;
    line-height: pt;
    padding-left: 10.25pt;
    padding-right: 60.5pt;
    padding-top: 2.5pt;
    text-align: left
    }
.s22 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 3.05pt;
    text-align: left
    }
.s220 {
    display: block;
    line-height: pt;
    padding-left: 11.35pt;
    padding-right: 0;
    padding-top: 2.5pt;
    text-align: left
    }
.s221 {
    display: block;
    line-height: pt;
    padding-left: 10.1pt;
    padding-right: 100.8pt;
    text-align: left
    }
.s222 {
    display: block;
    line-height: pt;
    padding-left: 107.65pt;
    padding-right: 0;
    text-align: left
    }
.s223 {
    display: block;
    line-height: pt;
    padding-left: 10.25pt;
    padding-right: 77.75pt;
    text-align: left
    }
.s224 {
    display: block;
    line-height: pt;
    padding-left: 46.8pt;
    padding-right: 0;
    padding-top: 3.05pt;
    text-align: left
    }
.s225 {
    display: block;
    line-height: pt;
    padding-left: 11pt;
    padding-right: 0;
    padding-top: 2.5pt;
    text-align: left
    }
.s226 {
    display: block;
    line-height: pt;
    padding-left: 11pt;
    padding-right: 40.3pt;
    text-align: left
    }
.s227 {
    display: block;
    line-height: pt;
    padding-left: 51.85pt;
    padding-right: 0;
    text-align: left
    }
.s228 {
    display: block;
    line-height: pt;
    padding-left: 10.45pt;
    padding-right: 80.65pt;
    text-align: left
    }
.s229 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 11.7pt
    }
.s23 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 9.2pt;
    text-align: left
    }
.s230 {
    display: block;
    line-height: pt;
    padding-left: 17.3pt;
    padding-right: 0;
    text-align: left
    }
.s231 {
    display: block;
    line-height: pt;
    padding-left: 78.65pt;
    padding-right: 0;
    padding-top: 3.9pt;
    text-align: left
    }
.s232 {
    display: block;
    line-height: pt;
    padding-left: 14.75pt;
    padding-right: 0;
    text-align: left
    }
.s233 {
    display: block;
    line-height: pt;
    padding-left: 69.5pt;
    padding-right: 0;
    text-align: left
    }
.s234 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 9.2pt
    }
.s235 {
    display: block;
    line-height: pt;
    padding-left: 19.25pt;
    padding-right: 0;
    text-align: left
    }
.s236 {
    display: block;
    line-height: pt;
    padding-left: 18pt;
    padding-right: 0;
    text-align: left
    }
.s237 {
    display: block;
    line-height: pt;
    padding-left: 18.2pt;
    padding-right: 0;
    text-align: left
    }
.s238 {
    display: block;
    line-height: pt;
    padding-left: 17.8pt;
    padding-right: 0;
    text-align: left
    }
.s239 {
    display: block;
    line-height: pt;
    padding-left: 11.5pt;
    padding-right: 0;
    padding-top: 0.35pt;
    text-align: left
    }
.s24 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    text-align: left
    }
.s240 {
    display: block;
    line-height: pt;
    padding-left: 10.45pt;
    padding-right: 0;
    padding-top: 0.35pt;
    text-align: left
    }
.s241 {
    display: block;
    line-height: pt;
    padding-left: 62.3pt;
    padding-right: 0;
    text-align: left
    }
.s242 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.7pt;
    text-align: left;
    text-indent: 10.25pt
    }
.s243 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10.1pt;
    text-align: left;
    text-indent: 9.9pt
    }
.s244 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 11.9pt
    }
.s245 {
    display: block;
    line-height: pt;
    padding-left: 74.9pt;
    padding-right: 0;
    text-align: left
    }
.s246 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2.1pt;
    text-align: left
    }
.s247 {
    display: block;
    line-height: pt;
    padding-left: 16.2pt;
    padding-right: 0;
    padding-top: 9pt;
    text-align: left;
    text-indent: 16.2pt
    }
.s248 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 5.75pt
    }
.s249 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10.1pt;
    text-align: center
    }
.s25 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 10.1pt
    }
.s250 {
    display: block;
    line-height: pt;
    padding-left: 11.15pt;
    padding-right: 77.75pt;
    text-align: left
    }
.s251 {
    display: block;
    line-height: pt;
    padding-left: 43.55pt;
    padding-right: 0;
    text-align: left
    }
.s252 {
    display: block;
    line-height: pt;
    padding-left: 75.4pt;
    padding-right: 0;
    text-align: left
    }
.s253 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left;
    text-indent: 11.5pt
    }
.s254 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2.5pt;
    text-align: left;
    text-indent: 11.15pt
    }
.s255 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 12.25pt
    }
.s26 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 9.9pt
    }
.s27 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 10.25pt
    }
.s28 {
    display: block;
    line-height: pt;
    padding-left: 11.35pt;
    padding-right: 0;
    text-align: left
    }
.s29 {
    display: block;
    line-height: pt;
    padding-left: 10.6pt;
    padding-right: 0;
    text-align: left
    }
.s3 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 9.7pt;
    text-align: left
    }
.s30 {
    display: block;
    line-height: pt;
    padding-left: 10.45pt;
    padding-right: 0;
    text-align: left
    }
.s31 {
    display: block;
    line-height: pt;
    padding-left: 10.25pt;
    padding-right: 60.5pt;
    text-align: left
    }
.s32 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 11.5pt
    }
.s33 {
    display: block;
    line-height: pt;
    padding-left: 10.1pt;
    padding-right: 0;
    text-align: left
    }
.s34 {
    display: block;
    line-height: pt;
    padding-left: 10.25pt;
    padding-right: 0;
    text-align: left
    }
.s35 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 11.35pt
    }
.s36 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 9.7pt
    }
.s37 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2.5pt;
    text-align: left;
    text-indent: 9.9pt
    }
.s38 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left;
    text-indent: 10.1pt
    }
.s39 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 11.15pt
    }
.s4 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5.2pt;
    text-align: left
    }
.s40 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left;
    text-indent: 10.25pt
    }
.s41 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 10.45pt
    }
.s42 {
    display: block;
    line-height: pt;
    padding-left: 10.8pt;
    padding-right: 0;
    text-align: left
    }
.s43 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2.5pt;
    text-align: left;
    text-indent: 10.1pt
    }
.s44 {
    display: block;
    line-height: pt;
    padding-left: 11.15pt;
    padding-right: 0;
    text-align: left
    }
.s45 {
    display: block;
    line-height: pt;
    padding-left: 89.45pt;
    padding-right: 0;
    text-align: left
    }
.s46 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 9.55pt;
    text-align: left
    }
.s47 {
    display: block;
    line-height: pt;
    padding-left: 13.5pt;
    padding-right: 0;
    padding-top: 2.5pt;
    text-align: left
    }
.s48 {
    display: block;
    line-height: pt;
    padding-left: 12.8pt;
    padding-right: 0;
    text-align: left
    }
.s49 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.35pt;
    text-align: left;
    text-indent: 10.25pt
    }
.s5 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left
    }
.s50 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left;
    text-indent: 11.7pt
    }
.s51 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.55pt;
    text-align: left;
    text-indent: 10.45pt
    }
.s52 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.9pt;
    text-align: left;
    text-indent: 10.45pt
    }
.s53 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.55pt;
    text-align: left;
    text-indent: 10.1pt
    }
.s54 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left;
    text-indent: 10.45pt
    }
.s55 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.55pt;
    text-align: left;
    text-indent: 10.25pt
    }
.s56 {
    display: block;
    line-height: pt;
    padding-left: 12.25pt;
    padding-right: 0;
    text-align: left
    }
.s57 {
    display: block;
    line-height: pt;
    padding-left: 12.4pt;
    padding-right: 0;
    text-align: left
    }
.s58 {
    display: block;
    line-height: pt;
    padding-left: 12.95pt;
    padding-right: 0;
    text-align: left
    }
.s59 {
    display: block;
    line-height: pt;
    padding-left: 12.4pt;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left
    }
.s6 {
    display: block;
    line-height: pt;
    padding-left: 62.45pt;
    padding-right: 0;
    padding-top: 5.1pt;
    text-align: left
    }
.s60 {
    display: block;
    line-height: pt;
    padding-left: 11.9pt;
    padding-right: 0;
    text-align: left
    }
.s61 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.35pt;
    text-align: left;
    text-indent: 10.1pt
    }
.s62 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.55pt;
    text-align: left
    }
.s63 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.35pt;
    text-align: left;
    text-indent: 10.45pt
    }
.s64 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2.5pt;
    text-align: left;
    text-indent: 10.25pt
    }
.s65 {
    display: block;
    line-height: pt;
    padding-left: 12.05pt;
    padding-right: 0;
    text-align: left
    }
.s66 {
    display: block;
    line-height: pt;
    padding-left: 12.6pt;
    padding-right: 0;
    text-align: left
    }
.s67 {
    display: block;
    line-height: pt;
    padding-left: 12.6pt;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left
    }
.s68 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 11pt;
    text-align: left
    }
.s69 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.55pt;
    text-align: left;
    text-indent: 9.9pt
    }
.s7 {
    display: block;
    line-height: pt;
    padding-left: 97.9pt;
    padding-right: 0;
    padding-top: 5.3pt;
    text-align: left
    }
.s70 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.35pt;
    text-align: left;
    text-indent: 9.7pt
    }
.s71 {
    display: block;
    line-height: pt;
    padding-left: 11pt;
    padding-right: 0;
    text-align: left
    }
.s72 {
    display: block;
    line-height: pt;
    padding-left: 11.7pt;
    padding-right: 0;
    text-align: left
    }
.s73 {
    display: block;
    line-height: pt;
    padding-left: 11.7pt;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left
    }
.s74 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 9.9pt;
    text-align: left
    }
.s75 {
    display: block;
    line-height: pt;
    padding-left: 12.6pt;
    padding-right: 0;
    padding-top: 2.5pt;
    text-align: left
    }
.s76 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 9.55pt
    }
.s77 {
    display: block;
    line-height: pt;
    padding-left: 11.5pt;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left
    }
.s78 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left;
    text-indent: 9.9pt
    }
.s79 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 9.35pt;
    text-align: left
    }
.s8 {
    display: block;
    line-height: pt;
    padding-left: 41.2pt;
    padding-right: 43.55pt;
    padding-top: 2pt;
    text-align: left
    }
.s80 {
    display: block;
    line-height: pt;
    padding-left: 11.9pt;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left
    }
.s81 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.7pt;
    text-align: left;
    text-indent: 10.1pt
    }
.s82 {
    display: block;
    line-height: pt;
    padding-left: 11.15pt;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left
    }
.s83 {
    display: block;
    line-height: pt;
    padding-left: 10.6pt;
    padding-right: 0;
    padding-top: 0.35pt;
    text-align: left
    }
.s84 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2.5pt;
    text-align: left;
    text-indent: 10.45pt
    }
.s85 {
    display: block;
    line-height: pt;
    padding-left: 12.05pt;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left
    }
.s86 {
    display: block;
    line-height: pt;
    padding-left: 11.5pt;
    padding-right: 0;
    text-align: left
    }
.s87 {
    display: block;
    line-height: pt;
    padding-left: 10.8pt;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left
    }
.s88 {
    display: block;
    line-height: pt;
    padding-left: 12.8pt;
    padding-right: 0;
    padding-top: 2.5pt;
    text-align: left
    }
.s89 {
    display: block;
    line-height: pt;
    padding-left: 10.6pt;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left
    }
.s9 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1.8pt;
    text-align: left
    }
.s90 {
    display: block;
    line-height: pt;
    padding-left: 13.7pt;
    padding-right: 0;
    padding-top: 2.5pt;
    text-align: left
    }
.s91 {
    display: block;
    line-height: pt;
    padding-left: 12.8pt;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left
    }
.s92 {
    display: block;
    line-height: pt;
    padding-left: 13.15pt;
    padding-right: 0;
    text-align: left
    }
.s93 {
    display: block;
    line-height: pt;
    padding-left: 11.7pt;
    padding-right: 0;
    padding-top: 0.35pt;
    text-align: left
    }
.s94 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1.1pt;
    text-align: left;
    text-indent: 10.25pt
    }
.s95 {
    display: block;
    line-height: pt;
    padding-left: 11.35pt;
    padding-right: 0;
    padding-top: 0.2pt;
    text-align: left
    }
.s96 {
    display: block;
    line-height: pt;
    padding-left: 13.15pt;
    padding-right: 0;
    padding-top: 0.35pt;
    text-align: left
    }
.s97 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.35pt;
    text-align: left
    }
.s98 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.35pt;
    text-align: left;
    text-indent: 9.9pt
    }
.s99 {
    display: block;
    line-height: pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.9pt;
    text-align: left;
    text-indent: 10.1pt
    }