@charset "utf-8";
/**/
span.c35 {
    margin-left: 5em
    }
span.c34 {
    margin-left: 6.5em
    }
span.c33 {
    margin-left: 4.5em
    }
span.c32 {
    margin-left: 3em
    }
span.c31 {
    margin-left: 2.5em
    }
span.c30 {
    margin-left: 3.5em
    }
span.c29 {
    margin-left: 5.5em
    }
span.c28 {
    margin-left: 7.5em
    }
span.c27 {
    margin-left: 8.5em
    }
span.c26 {
    margin-left: 10em
    }
span.c25 {
    margin-left: 9.5em
    }
span.c24 {
    margin-left: 8em
    }
span.c23 {
    margin-left: 7em
    }
span.c20 {
    margin-left: 0.5em
    }
span.c19 {
    margin-left: 1.5em
    }
span.c17 {
    margin-left: 6em
    }
span.c16 {
    margin-left: 4em
    }
span.c15 {
    margin-left: 2em
    }
hr.c13 {
    width: 45%
    }
div.c11 {
    font-style: italic
    }
a.c10 {
    font-style: italic
    }
td.c9 {
    font-style: italic
    }
span.c8 {
    margin-left: 1em
    }
span.c7 {
    font-style: italic;
    margin-left: 0.5em
    }
span.c6 {
    font-style: italic;
    margin-left: 1.5em
    }
hr.c5 {
    width: 65%
    }
/**/