<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dmi.perfectreader">

    <application>
        <activity android:exported="true" android:name=".manualtest.book.PageBookViewTestActivity"/>
        <activity android:exported="true" android:name=".manualtest.book.BookFragmentTestActivity"/>
        <activity android:exported="true" android:name=".manualtest.bookcontrol.BookControlFragmentTestActivity"/>
        <activity android:exported="true" android:name=".manualtest.layout.LayoutObjectsTestActivity"/>
    </application>

</manifest> 
