<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dmi.perfectreader">

    <application>
        <activity
            android:name=".manualtest.LayoutTestActivity"
            android:exported="true"/>
        <activity
            android:name=".manualtest.CanvasTestActivity"
            android:exported="true"/>
    </application>

</manifest> 